
<h2>Last Lacras ultimated</h2>
<ul class="lacras" >
  <li *ngFor="let lacra of lacras" (click)="onSelect(lacra)"  [class.selected]="lacra === selectedLacra">
    <span class="badge">{{lacra.id}}</span> {{ lacra.name }}
  </li>
</ul>

<div *ngIf="selectedLacra">
  <h2>{{selectedLacra.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedLacra.id}}</div>
  <div >
    <label>Nombre:
      <input [(ngModel)]= "selectedLacra.name" placeholder="Ingrese un dato">
    </label>
  </div>
</div>
